body {
	margin: 0;
	padding: 0;
    background: linear-gradient(45deg, #3282a6, #ff6b6b, #0000ff);
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.social-icons-container {
	display: flex;
}
.social-icon-box {
	width: 100px;
	height: 100px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	perspective: 1000px;
	border-radius: 15px;
}
.social-icon-box i {
	font-size: 50px;
	color: #fff;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.social-icon-box:hover i {
	transform: rotateX(360deg);
}
.social-icon-box:hover {
	cursor: pointer;
	animation: animate .9s ease-in infinite;
}
.social-icon-box .icon-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icon-box.facebook {
	background: #1877f2;
}
.social-icon-box.twitter {
	background: #1da1f2;
}
.social-icon-box.instagram {
	background: #e1306c;
}
.social-icon-box.linkedin {
	background: #0077b5;
}
.social-icon-box.github {
	background: #333;
}
@keyframes animate {
	0%, 100% {
		transform: translateY(-6px);
	}
	50% {
		transform: translateY(0);
	}
}
